NEXT_PUBLIC_SUPABASE_URL=https://xhgzpmtsmgiamiqrxgfh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhoZ3pwbXRzbWdpYW1pcXJ4Z2ZoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk5NTgyNDcsImV4cCI6MjA5NTUzNDI0N30.HiCGGtvbr3d0QRaLicNAPLfEr19Xf-npFLc34ai31-Q
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_r8SDV-4CLTgCo2xAHyouDg_1kdsqPSJ